POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=obfuscal
CONNECTIONSTRINGS__DEFAULTCONNECTION=Host=localhost;Database=obfuscal;Username=postgres;Password=[DB_PASSWORD_HERE]

AZUREAD__TENANTID=[AZURE_AD_TENANT_ID]
AZUREAD__CLIENTID=[AZURE_AD_CLIENT_ID]
GRAPHCONSENT__CLIENTID=[GRAPH_CLIENT_ID]
GRAPHCONSENT__CLIENTSECRET=[GRAPH_CLIENT_SECRET]
GOOGLECONSENT__CLIENTID=[GOOGLE_CLIENT_ID]
GOOGLECONSENT__CLIENTSECRET=[GOOGLE_CLIENT_SECRET]
SYNC__INSTANCEID=[SYNC_INSTANCE_ID]
SYNC__APIKEY=[SYNC_API_KEY]

API_CERT_PASSWORD=[API_CERT_PASSWORD_HERE]
