fluent-layout {
    --layout-height: calc(100vh - 50px);
}

fluent-stack[style*="height"] {
    height: var(--layout-height);
}

fluent-nav-menu {
    background: var(--neutral-layer-2);
    border-right: 1px solid var(--neutral-stroke-divider-rest);
}

fluent-body-content {
    padding: 1.5rem;
    overflow-y: auto;
    flex: 1;
}

